---
layout: page-fullwidth
show_meta: true
title: "{{title}}"
teaser: "{{description}}"
date: "{{date}}"
tags:
  - {{#each tags}}{{this}} {{/each}}
category:
  - portfolio
header: no
---

{{#if link}}
<strong>Project Link:</strong> <a href="{{link}}" target="_blank">{{title}}</a>
{{/if}}

{{#if description_long}}
{{description_long}}
{{/if}}

{{#if tech}}
<strong>Technologies Used:</strong> {{#each tech }} - {{this}} {{/each}}
{{/if}}

{{#each imgs}}
<img class="portfolio" src="\{{site.url}}\{{site.baseurl}}/images/{{this}}" alt="{{this}}">

{{/each}}

[<span class="back-arrow">&#8619;</span> Back to the Portfolio]({{ site.url }}{{ site.baseurl }}/work/)