---
layout: page-fullwidth
show_meta: true
title: "{{title}}"
teaser: "{{description}}"
date: "{{date}}"
tags:
  - {{#each tags}}{{this}} {{/each}}
category:
  - portfolio
header: no
---

{{description_long}}

{{#if tech}}
<strong>Technologies Used:</strong> {{#each tech }} - {{this}} {{/each}}
{{/if}}

{{#each imgs}}
<img src="\{{site.url}}\{{site.baseurl}}/images/{{this}}" alt="{{this}}">

{{/each}}

[<span class="back-arrow">&#8619;</span> Back to the Portfolio]({{ site.url }}{{ site.baseurl }}/work/)